{% extends "base/base.html" %}

{% block content %}

<h1>Lista de Horários</h1>
<!-- Formulário para filtrar por data -->
<form method="get" class="mb-4">
    {{ form_data.as_p }}
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
{% if object_list %}
    <table class="table">
        <thead>
        <tr>
            <th>Data</th>
            <th>Nome</th>
            <th>Duração</th>
            <th colspan="2">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for horario in object_list %}
            <tr>
                <td>{{ horario.start }}</td>
                <td>{{ horario.washer.name }}</td>
                <td>{{ horario.duration }}</td>
                <td>
                <form method="post" action="{% url 'time_update_delete' pk=horario.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Excluir</button>
                </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">

            </td>
        </tr>
        </tbody>
    </table>
{% else %}
    <p>Nenhum horário encontrado.</p>
{% endif %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Criar novo horário</h2>
<form method="POST" action="{% url 'time_slot_list' %}">
    {% csrf_token %}
    {{ form.as_p }} <!-- Renderiza o formulário -->
    <button type="submit">Adicionar Horário</button>
</form>

{%  endblock %}