<!--
Código gerado por ChatGPT, versão 3.5, em 2024-10-10
-->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Lavadoras</title>
    {#    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Inclua seu CSS aqui -->#}
</head>
<body>
<h1>Lista de Lavadoras</h1>


<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th colspan="2">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for washer in object_list %}
        <tr>
            <!-- Formulário para editar o Washer -->
            <form method="post" action="{% url 'washer_update_delete' pk=washer.id %}">
                {% csrf_token %}
                <td><input type="text" name="name" value="{{ washer.name }}"/></td>
                <td>
                    <button type="submit">Editar</button>
                </td>
            </form>

            <!-- Formulário para excluir o Washer -->
            <td>
                <form method="post" action="{% url 'washer_update_delete' pk=washer.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Excluir</button>
                </form>
            </td>


        </tr>
    {% endfor %}
        <tr>
            <form method="POST" action="{% url 'washer_list' %}">
                {% csrf_token %}
                <td>{{ form.name }}<div class="error">{{ form.name.errors }}</div></td>


                <td colspan="2"><button type="submit">Adicionar Lavadora</button></td>
            </form>
        </tr>

    </tbody>
</table>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<a href="{% url 'login' %}">Logout</a>


</body>
</html>
