<!--
Código gerado por ChatGPT, versão 3.5, em 2024-10-10
-->
{% extends 'base/base.html' %}

{% block title %}Lista de Lavadoras{% endblock %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th colspan="2">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for washer in object_list %}
        <tr>
            <!-- Formulário para editar o Washer -->
            <form method="post" action="{% url 'washer_update_delete' pk=washer.id %}">
                {% csrf_token %}
                <td><input  type="text" name="name" value="{{ washer.name }}"/></td>
                <td>
                    <button class="btn btn-primary" type="submit">Editar</button>
                </td>
            </form>

            <!-- Formulário para excluir o Washer -->
            <td>
                <form method="post" action="{% url 'washer_update_delete' pk=washer.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-danger" type="submit">Excluir</button>
                </form>
            </td>


        </tr>
    {% endfor %}
        <tr>
            <form method="POST" action="{% url 'washer_list' %}">
                {% csrf_token %}
                <td>{{ form.name }}<div class="error">{{ form.name.errors }}</div></td>


                <td colspan="2"><button  class="btn btn-primary" type="submit">Adicionar Lavadora</button></td>
            </form>
        </tr>

    </tbody>
</table>


{% endblock %}