{% extends "base/base.html" %}

{% block content %}
    <h1>Horários Disponíveis</h1>

    <!-- Formulário para filtrar por data -->
    <form method="get" class="mb-4">
     {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>Máquina</th>
                <th>Data e Hora</th>
                <th>Duração</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in available_slots %}
                <tr>
                    <td>{{ slot.washer.name }}</td>
                    <td>{{ slot.start|date:"d/m - H:i"}}</td>
                    <td>{{ slot.duration }}</td>
                    <td>
                        <form action="{% url 'schedule_slot' slot.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Agendar</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhum horário disponível.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
